.commentbox{
    text-align: center;
}
#name{
    font-size: 22px;
    font-weight: 600;
}
#hellotxt{
    font-size: 22px;
}
.comment-section{
    background-color: rgb(176, 233, 214);
    padding: 1%;
}